* {
	-webkit-font-smoothing: antialiased;
	font-family: 'avalon','Open Sans',sans-serif;
}

.navbar-purple {
	background-color: #6d2b80;
    border-color: #6d2b80;
}

.navbar-purple .navbar-brand{
	color: #fff;
}

.navbar-purple .navbar-brand:hover,
.navbar-purple .navbar-brand:focus {
    color: #fff;
    text-decoration: underline;
}
/* link */
.navbar-purple .navbar-nav > li > a {
    color: #fff;
}
.navbar-purple .navbar-nav > li > a:hover,
.navbar-purple .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-purple .navbar-nav > .active > a, 
.navbar-purple .navbar-nav > .active > a:hover, 
.navbar-purple .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #300B39;
}
.navbar-purple .navbar-text {
	color: #fff;
}

.services .media-heading {
	font-family: Oswald, SquareSerifBookItalic, sans-serif;
	color: #6d2b80;
}

.label-price {
	background-color: #6d2b80;
}

.price {
	font-size: 16px;
}

.contact {
	background-color: #6d2b80;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-bottom: 50px;
}

.contact address {
	padding-left: 20px;
}

footer {
	border-top-width: 2px;
	border-top-color: #6d2b80;
	border-top-style: solid;
	color: #6d2b80;
	padding: 20px;
	height: 100px;
}

footer a, footer a:hover, footer a:active {
	color: #6d2b80;
}